<!DOCTYPE html>
<html>
  <head>
    <title>Travel Places</title>
  </head>
  
  <body>
    <h1>Welcome to Travel Places!</h1>
    <% if is_logged_in?(session) %>
      <div class="navbar">
          <a href="/users/<%= current_user(session).id %>">My Home Page</a>
          <a href="#"><strong>Username: <%= current_user(session).username %></strong></a>
          <a href="#"><strong>Email: <%= current_user(session).email %></strong></a>
      </div>
      <br>
      <a href="/users/<%= current_user(session).id %>"><button type="button">My Home Page</button></a>
      <a href="/logout"><button type="button">Log Out</button></a>
      <a href="/places/new"><button type="button">Create a New Place</button></a>
    <% end %>
    <br>
   
    <% if is_logged_in?(session) %>
    <% else %>
      <a href="/signup"><button type="button">Sign Up</button></a>
      <br>
      <a href="/login"><button type="button">Log In</button></a>
    <% end %>
    <br>
    <div id="flash" class="notice">
      <a class="close" data-dismiss="alert"></a>
      <%= flash[:message] %>
    </div>
    <hr>
    <%= yield %>
  </body>
</html>