<p>app/views/places/edit_place.erb</p>
<a href="/">Home</a>
<br>
<a href="/logout">Log Out</a>
<br>
<hr>
<h1>Edit a Place</h1>
<form method="POST" action="/places/<%= @place.id %>">
  <input id="hidden" name="_method" type="hidden" value="patch"
  <label for "continent">Continent: </label>
  <input type="text" name="place[continent]" id="continent"><%= @place.continent %></input>
  <br>
  <label for "country">Country: </label>
  <input type="text" name="place[country]" id="country"><%= @place.country %></input>
  <br>
  <label for "state">State: </label>
  <input type="text" name="place[state]" id="state"><%= @place.state %></input>
  <br>
  <label for "city">City: </label>
  <input type="text" name="place[continent]" id="continent"><%= @place.continent %></input>
  <br>
  <label for "notes">Notes: </label>
  <textarea type="text" name="place[notes]" id="notes"><%= @place.notes %></textarea>
  <br>
  <input type="submit" id="submit" name="submit" value="submit">
</form>
