<p>app/views/places/edit.erb</p>
<hr>
<h1>Edit a Place</h1>
<form method="POST" action="/places/<%= @place.id %>">
  <input id="hidden" name="_method" type="hidden" value="patch"
  <label for "continent">Continent: </label>
  <select name="place[continent]" id="continent" value =" <%= @place.continent %> ">
    <option value="Europe">Europe</option>
    <option value="Asia">Asia</option>
    <option value="Africa">Africa</option>
    <option value="Australia">Australia</option>
    <option value="North America">North America</option>
    <option value="South America">South America</option>
    <option value="Oceania">Oceania</option>
    <option value="Antarctica">Antarctica</option>
  </select>
  <br>
  <label for "country">Country: </label>
  <input type="text" name="place[country]" id="country" value= "<%= @place.country %>"></input>
  <br>
  <label for "state">State: </label>
  <input type="text" name="place[state]" id="state" value="<%= @place.state %> "></input>
  <br>
  <label for "city">City: </label>
  <input type="text" name="place[city]" id="city" value="<%= @place.city %>"></input>
  <br>
  <label for "notes">Notes: </label>
  <textarea type="text" name="place[notes]" id="notes" value=""><%= @place.notes %></textarea>
  <br>
  <input type="submit" id="submit" name="submit" value="submit">
</form>
