<h1>Hello, <%= current_user.username %>!</h1>
<h3>Here are all the places you have visited:</h3>
<br>
<ol style="list-style:none">
<% @places.each do | place | %>
  <li>
    <p><strong>Continent: </strong><%= place.continent %> </p>
    <p><strong>Country: </strong><%= place.country %> </p>
    <p><strong>State/Province: </strong><%= place.state %> </p>
    <p><strong>City: </strong><%= place.city %></p>
    <p><strong>Notes: </strong><%= place.notes %> </p>
    <a href="/places/<%= place.id %>"><button type="button">Show Place</button></a>
    <br>
    <hr>
  </li>
  <% end %>
</ol>
