<p>app/views/places/show_place.erb</p>
<a href="/places/new">Show a New Place</a>
<br>
<hr>
<h1>Show a Place</h1>
<%= place.continent %>
<br>
<%= place.country %>
<br>
<%= place.state %>
<br>
<%= place.city %>
<br>
<%= place.notes %>
<br>
<hr>
<form method="GET" action="/places/<%= @place.id %>/edit">
  <input type = "submit" value="Edit Place">
</form>

<form method="POST" action="/places/<%= @place.id %>/delete">
  <input type = "hidden" id="hidden" name="_method" value="delete"/>
  <input type = "submit" value="Delete Place"/>
</form>
