<p>app/views/places/show.erb</p>
<hr>
<h1>Show a Place</h1>
<p><strong>Continent: </strong><%= @place.continent %> </p>
<p><strong>Country: </strong><%= @place.country %> </p>
<p><strong>State/Province: </strong><%= @place.state %> </p>
<p><strong>City: </strong><%= @place.city %></p>
<p><strong>Notes: </strong><%= @place.notes %> </p>
<br>
<hr>
<form method="GET" action="/places/<%= @place.id %>/edit">
  <input type = "submit" value="Edit Place">
</form>

<form method="POST" action="/places/<%= @place.id %>/delete">
  <input type = "hidden" id="hidden" name="_method" value="delete"/>
  <input type = "submit" value="Delete Place"/>
</form>
